[submodule "runtime/clojure"]
	path = runtime/clojure
	url = https://github.com/clojure/clojure.git
[submodule "runtime/pyret"]
	path = runtime/pyret
	url = https://github.com/brownplt/pyret-lang.git
